@page
@model ComicWebstoreExa.Pages.Login.CustomerModel
@{
}
@if (Model._login.IsLoggedIn() == true)
{
    <h2>  Hello @Model.thisCustomer.FirstName  </h2>
    <div class="card-header">
        @Model.thisCustomer.CustomerID
    </div>
    <div class="card-body">

        <div class="card-header">
            @Model.thisCustomer.FullName()
        </div>
        <div class="card-header">
            @Model.thisCustomer.cCard.CardNumber
        </div>

    </div>


    @if (Model.thisCustomer.Reciepts != null)
    {
        <div class="card-header">
            <h2>  Previous orders:  </h2>
        </div>

        <div class="d-flex justify-content-center row">
            @foreach (var item in Model.thisCustomer.Reciepts)
            {
                <div class="card-header">
                    RecieptID: @item.RecieptCartID
                    total: @item.RecieptSum
                    @foreach (var reciept in item.RecieptProducts)
                    {
                        <div class="card" style="width: auto;">


                            <div class="card-body">
                                <h5 class="card-title">@reciept.ProductName</h5>

                                <h6 class="card-title">@reciept.ProductPrice:-</h6>

                                <p class="card-text">@reciept.ProductType</p>


                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }


}
else
{
    <div>

        <h3>  Oh no  </h3>


        <h3>  You need to log in to see anything here  </h3>

        <img src="https://images.vectorhq.com/images/previews/c4c/sad-face-psd-435389.png" alt="SADFACE" />

    </div>
}
